$custom-primary-color: #00a19d;
$custom-text-color: #fff8e5;
$custom-error-color: #e05d5d;
$custom-warning-color: #ffb344;

$--colors: (
  "primary": (
    "base": $custom-primary-color,
  ),
  "success": (
    "base": $custom-primary-color,
  ),
  "warning": (
    "base": $custom-warning-color,
  ),
  "danger": (
    "base": $custom-error-color,
  ),
  "error": (
    "base": $custom-error-color,
  ),
  "info": (
    "base": #42b8dd,
  ),
);

// we can add this to custom namespace, default is 'el'
// @forward "element-plus/theme-chalk/src/mixins/config.scss" with (
//   $namespace: "ep"
// );

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  // do not use same name, it will override.
  $colors: $--colors,
  $button-padding-horizontal: ("default": 50px)
);

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;

// custom dark variables
@use "./dark.scss";

.el-menu {
  border-right: none;
}
